@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.ark-burger{
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 3;
    left: 13px;
    top: 13px;

}
.ark-burger div{
    width: 25px;
    height: 3px;
    background-color: #D99343;
    margin: 5px;
  }
  .toggle .ark-line1{
    transform: rotate(-45deg) translate(-5px,6px);
   }
   .toggle .ark-line2{
   opacity: 0;
   }
   .toggle .ark-line3{
   
     transform: rotate(45deg) translate(-5px,-6px);
   }
.ark-time{
    width: 100vw;
    height: 89px;
    background-color: #1F1E1E;
    display: flex;
    flex-direction:row;
}
.arksec-1{
    height: 89px;
    width: 38vw;
}
.arksec-2{
    display: flex;
    height: 89px;
    width: 62vw;
    justify-content: space-between;
}
.ark-head{
    display: flex;
    position: relative;
    left: 35px;
    top: 40px;
    margin: 0;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43.2287px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #D99343;
}
.ark-danger-icon{
    position: relative;
    top: 29px;
    left: 10px;
    color: #F11714;
    font-size: 26px;
}
.ark-report{
    position: relative;
    left: 45px;
    top: 9px;
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #F11714;
}
.ark-icon{
    position: relative;
    right: 264px;
    top: 26px;
    color: #00CB20;
    font-size: 35px;
}
.ark-timer{
    position: relative;
    right: 220px;
    bottom: 5px;
    margin: 0px;
    color: #00CB20;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.12em;
}
.ark-button-top{
    position: relative;
    bottom: 40px;
    right: 30px;
    width: 167px;
    height: 48px;
    background: #D99343;
    border-radius: 4px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.ark-question-box{
    position: absolute;
    right: 0;
    width: 62vw;
    height: 600px;
    background-color: #171616;
}
.ark-bottom-sec{
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0;
    top: 586px;
    width: 62vw;
    height: 70px;
    background-color: #1F1E1E;
}
.ark-bottom-button1{
    font-family: 'Raleway';
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #E7EBEC;
    margin-left: 5px;
    margin-top: 24px;
}
.ark-bottom-button2{
    font-family: 'Raleway';
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #E7EBEC;
    margin-top: 24px;
    margin-left: 75px;
}
.ark-bottom-button3{
    font-family: 'Raleway';
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #E7EBEC;
    margin-right: 5px;
    margin-top: 24px;
}
.ark-bottom-icon{
    font-size: 20px;
    color: #F9A248;
}
.ark-questionTab{
    background: linear-gradient(180deg, #1F1E1E 0%, #1A1A1A 100%);
    border: 0.5px solid #D99343;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 53vw;
    margin: auto;
    margin-top: 43px;
    height: 500px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #E7EBEC;
}
.ark-question-hr{
    width: 700px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #E7EBEC;
    color:#E7EBEC ;
}
.ark-question-title{
    margin-left: 56px;
    font-weight: 700;
    font-size: 23.5789px;
    line-height: 28px;
    letter-spacing: 0.12em;
}
.ark-question{
    margin-left: 56px;
    margin-top: 20px;
    margin-right: 56px;
    margin-bottom: 0;
}
.ark-options{
height: 360px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.ark-option-1{
    display: flex;
    margin-left: 56px;
    margin-right: 56px;
}
.ark-option-2{
    display: flex;
    margin-left: 56px;
    margin-right: 56px;
}
.ark-option-3{
    display: flex;
    margin-left: 56px;
    margin-right: 56px;
}
.ark-option-4{
    display: flex;
    margin-left: 56px;
    margin-right: 56px;
}
.ark-option-icon{
    cursor: pointer;
    margin-top: 16px;
    margin-right: 15px;
    font-size: 16px;
    
}
.ark-dot{
    position: relative;
    bottom: 13px;
    left: 3.1px;
    width: 10px;
    height: 10px;
    background-color: #00CB20;
    border-radius: 100%;
}
.ark-status-panel{
    width: 38vw;
    background: #1F1E1E;
    height: 656px;
}
.ark-quiz-info{
display: flex;
justify-content: space-around;
padding-top: 30px;
}
.ark-info-txt{
    font-family: 'Raleway';
    font-style: normal;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #D8D8D8;
}
.ark-info-no{
    font-family: 'Montserrat';
    font-style: normal;
    position: relative;
    margin-bottom:10px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #D8D8D8;
    bottom: 30px;
    left: 4px;
}


.ark-noofq{
    display: flex;
    justify-content: left;
    margin-right: 70px;
}
.ark-score{
    display: flex;
    justify-content: left;
}
.ark-statuspanel-hr{
    border: 0.5px solid #D99343;
 margin: 0;
}
.ark-statuspanel-info{
    display: flex;
    justify-content:space-around;
    margin-top: 15px;
}
.ark-answered{
display: flex;
justify-content: left;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
letter-spacing: 0.1em;
color: #D8D8D8;
}
.ark-marked{
display: flex;
justify-content: left;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
letter-spacing: 0.1em;
color: #D8D8D8;
}
.ark-unanswered{
display: flex;
justify-content: left;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
letter-spacing: 0.1em;
color: #D8D8D8;
}
.ark-dot-green{
    position: relative;
    bottom: 0px;
    margin-right: 10px;
    top: 23px;
 
    width: 10px;
    height: 10px;
    background-color: #19C90A;;
    border-radius: 100%;
}
.ark-dot-orange{
    position: relative;
    bottom: 0px;
    margin-right: 10px;
    top: 23px;
   
    width: 10px;
    height: 10px;
    background-color: #F9A248;;
    border-radius: 100%;    
}
.ark-dot-white{
    position: relative;
    bottom: 0px;
    margin-right: 10px;
    top: 23px;
   
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;;
    border-radius: 100%;
}
.ark-statuspanel-hr-2{
    border: 0.5px solid #D99343;
    margin-top :15px;
}
.ark-quest-status{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}
.ark-answered-1{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}
.ark-row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.ark-quest-box-allquestions{
    width: 66px;
    height: 66px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #1f1c18;
    margin-left: 7px;
    margin-right: 7px;
}
.ark-quest-box-unanswered{
    width: 66px;
    height: 66px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #FFFFFF;
    margin-left: 7px;
    margin-right: 7px;
}
.ark-quest-box-marked{
    width: 66px;
    height: 66px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #F9A248;
    margin-left: 7px;
    margin-right: 7px; 
}
.ark-quest-box-answered{
    width: 66px;
    height: 66px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background:  #19C90A;
    margin-left: 7px;
    margin-right: 7px; 
}
.ark-status-pallet{
    overflow-y: scroll ;
   height: 385px;
}
.ark-status-pallet::-webkit-scrollbar {
    width: 5px;
  }
  
  .ark-status-pallet::-webkit-scrollbar-track {
 background: #171616;
  }
  
  .ark-status-pallet::-webkit-scrollbar-thumb {
    background: #D8D8D8;
    border-radius: 98px;  
  }

 @media(min-width:1100px) and (max-width:1310px){
    .ark-questionTab{
        width: 60vw;
    }
    .ark-question-hr{
        width: 55vw;
    }
    .ark-head{
        font-size: 37px;
        left: 20px;
    }
    .ark-info-txt{
        font-size: 15px;
    }
    .ark-quest-box-allquestions{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-answered{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-unanswered{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-marked{
        height: 56px;
        width: 56px;
    }
 } 
 @media (min-width:750px) and (max-width:1099.99px){
    .ark-burger{
        display: block;
    }
    .ark-time{
        flex-direction: column;
        justify-content: space-around;
        height: 15vh;
        align-items: center;
        

    }
    .ark-head{
        font-size: 42px;
        top:19px;
    }
    .ark-status-panel{
      
            transform: translateX(-100vw);
            transition: ease;
            transition-duration: 0.5s;
            padding-top: 79px;
            z-index: 1 ;
            position: absolute;
            top: 0 ;
            width: 100vw ;
            height: 90vh ;
        
      
    }
    .ark-question-box{
        width: 100vw;
        height: 80vh;
        
    }
    .ark-questionTab{
        width: 85vw;
        height: 75vh;
        margin-top: 10px;
    }
    .ark-question-hr{
        width: 70vw;
    }
    .ark-button-top{
        right: -108px;
        bottom: 30px;
        width: 115px;
        height: 40px;
        font-size: 13px;
    }
    .ark-danger-icon{
        left: -120px;
    }
    .ark-report{
        left: -90px;
    }
    .ark-icon{
        right: 200px;
        font-size: 25px;
    }
    .ark-timer{
       right: 165px;
       font-size: 19px;
       bottom: 0;
    }
    .ark-head{
        font-size: 25px;
    }
    .ark-bottom-sec {
        width: 100vw;
        top: 80vh;
        height: 10vh;
    }
    .ark-status-pallet{
        margin-top: 20px;
        height: 338px;
      }
 }
 @media (min-width:500px) and (max-width:749.99px){
    .ark-burger{
        display: block;
    }
    .ark-time{
        flex-direction: column;
        justify-content: space-around;
        height: 15vh;
        align-items: center;
        

    }
    .ark-head{
        font-size: 19px;
        top: 27px;
        left: 10px;
    }
    .ark-status-panel{
        transform: translateX(-100vw);
        transition: ease;
        transition-duration: 0.5s;
        padding-top: 79px;
        z-index: 1 ;
        position: absolute;
        top: 0 ;
        width: 100vw ;
        height: 90vh ;
    }
    .ark-question-box{
        width: 100vw;
        height: 80vh;
    }
    .ark-questionTab{
        width: 90vw;
        margin-top: 16px;
        font-size: 12px;
        height: 75vh;
    }
    .ark-question-hr{
        width: 80vw;
        margin-top: 13px;
    }
    .ark-button-top{
        right: -82px;
        bottom: 30px;
        width: 115px;
        height: 40px;
        font-size: 13px;
    }
    .ark-danger-icon{
        left: -88px;
        font-size: 18px;
    }
    .ark-report{
        left: -63px;
        font-size: 13px;
        top: 10px;
    }
    .ark-icon{
        right: 100px;
        font-size: 24px;
    }
    .ark-timer{
        right: 70px;
        font-size: 17px;
        top:1px;
       bottom: 0;
    }
    .ark-bottom-sec {
        width: 100vw;
        height: 6vh;
        top: 80vh;
    }
    .ark-bottom-button1{
        margin-top: 7px;
        font-size: 13px;
    }
    .ark-bottom-button2{
        margin-top: 7px;
        font-size: 13px;
    }
    .ark-bottom-button3{
        margin-top: 7px;
        font-size: 13px;
    }
    .ark-bottom-icon{
        font-size: 15px;
    }
    .ark-question-title{
        font-size: 19px;
        margin-left: 35px;
    }
    .ark-question{
        margin-left: 35px;
    }
    .ark-option-1{
        margin-left: 35px;
    }
    .ark-option-2{
        margin-left: 35px; 
    }
    .ark-option-3{
        margin-left: 35px;
    }
    .ark-option-4{
        margin-left: 35px;
    }
    .ark-option-icon{
        font-size: 12px;
        margin-top: 15.5px;
    }
    .ark-dot{      
    bottom: 10px;
    left: 2.1px;
    width: 8px;
    height: 8px;
    }
    .ark-info-txt{
        font-size: 10px;
    }
    .ark-info-no{
        font-size: 17px;
        bottom: 23px;
    }
    .ark-quest-box-allquestions{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-answered{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-unanswered{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-marked{
        height: 56px;
        width: 56px;
    }
    .ark-answered{
        font-size: 11px;
    }
    .ark-marked{
        font-size: 11px;
    }
    .ark-unanswered{
        font-size: 11px;
    }
    .ark-dot-white{
        top: 16px;
    }
    .ark-dot-green{
        top: 16px;
    }
    .ark-dot-orange{
        top: 16px;
    }
    .ark-answered-1{
        font-size: 11px;
    }
    .ark-status-pallet{
      margin-top: 65px;
      height: 338px;
    }
    .ark-statuspanel-hr-2{
        margin-top: 30px;
    }
    .ark-statuspanel-info{
        margin-top: 30px;
    }
    .ark-quest-status{
        margin-top: 30px;
    }
    .ark-status-pallet{
        margin-top: 20px;
        height: 338px;
      }
 }
 .ark-status-panel-2{
    opacity: 1;
    transition: ease;
    transition-duration: 0.5s;
    transform: translateX(0px) !important; 
    padding-top: 79px !important;
    z-index: 1 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100vw !important;
    height: 90vh !important;
    overflow-y: hidden !important;
}

 @media(max-width:499.9px){
    .ark-burger{
        display: block;
    }
    .ark-time{
        flex-direction: column;
        justify-content: space-around;
        height: 10vh;
        align-items: center;
        

    }
    .ark-status-panel{
        transform: translateX(-500px);
        transition: ease;
        transition-duration: 0.5s;
        padding-top: 79px;
        z-index: 1 ;
        position: absolute;
        top: 0 ;
        width: 100vw ;
        height: 90vh ;
       
    }

    .ark-head{
        font-size: 14px;
        top: 27px;
        left: 10px;
        
    }
   
    .ark-question-box{
        width: 100vw;
        height: 85vh;
    }
    .ark-questionTab{
        width: 90vw;
        margin-top: 28px;
        font-size: 10px;
        height: 77vh;
    }
    .ark-question-hr{
        width: 80vw;
        margin-top: 13px;
    }
    .ark-button-top{
        right: -62px;
        bottom: 28px;
        width: 95px;
        height: 31px;
        font-size: 10px;
    }
    .ark-danger-icon{
        left: -60px;
        font-size: 12px;
        top: 20px;
    }
    .ark-report{
        left: -42px;
        font-size: 10px;
        top: 3px;
    }
    .ark-icon{
        right: 79px;
        font-size: 20px;
    }
    .ark-timer{
        right: 50px;
        font-size: 12px;
        top:1px;
        bottom: 0;
    }
    .ark-bottom-sec {
        width: 100vw;
        height: 6vh;
        top: 84vh;
    }
    .ark-bottom-button1{
        margin-top: 15px;
        font-size: 12px;
    }
    .ark-bottom-button2{
        margin-top: 15px;
        font-size: 12px;
        margin-left: 38px;
    }
    .ark-bottom-button3{
        margin-top: 15px;
        font-size: 12px;
    }
    .ark-bottom-icon{
        font-size: 12px;
    }
    .ark-question-title{
        font-size: 17px;
        margin-left: 35px;
    }
    .ark-question{
        margin-left: 35px;
    }
    .ark-option-1{
        margin-left: 35px;
    }
    .ark-option-2{
        margin-left: 35px; 
    }
    .ark-option-3{
        margin-left: 35px;
    }
    .ark-option-4{
        margin-left: 35px;
    }
    .ark-option-icon{
        font-size: 12px;
        margin-top: 15.5px;
    }
    .ark-options{
        height: 50vh;
    }
    .ark-dot{      
    bottom: 10px;
    left: 2.1px;
    width: 8px;
    height: 8px;
    }
    .ark-info-txt{
        font-size: 10px;
    }
    .ark-info-no{
        font-size: 17px;
        bottom: 23px;
    }
    .ark-quest-box-allquestions{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-answered{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-unanswered{
        height: 56px;
        width: 56px;
    }
    .ark-quest-box-marked{
        height: 56px;
        width: 56px;
    }
    .ark-answered{
        font-size: 11px;
    }
    .ark-marked{
        font-size: 11px;
    }
    .ark-unanswered{
        font-size: 11px;
    }
    .ark-dot-white{
        top: 16px;
    }
    .ark-dot-green{
        top: 16px;
    }
    .ark-dot-orange{
        top: 16px;
    }
    .ark-answered-1{
        font-size: 11px;
    }
    .ark-status-pallet{
      margin-top: 65px;
      height: 338px;
    }
    .ark-statuspanel-hr-2{
        margin-top: 30px;
    }
    .ark-statuspanel-info{
        margin-top: 30px;
    }
    .ark-quest-status{
        margin-top: 30px;
    }
 }
 @media (max-width:375px){
    .ark-head{
        font-size: 13px;
        
    }
 }